# Natural History Museum

## Article Keyword Analysis

#### Notebook by Matthew Crisp

This notebook analyses three articles on the Natural History Museum website's 'Discover' pages.

Importing the libraries needed for this project.

In [1]:
import requests #To read the HTML document from the URL
from bs4 import BeautifulSoup as soup #To parse and organise HTML elements
import pandas as pd #Data handling and analysis
import nltk #Natural Language Processing library

# Twitter analysis
import tweepy

In [2]:
consumer_key = 'an1GH9sCfmvFUdISadGvLjlu6'
consumer_secret = 'dFG8dM0zXo4zAyppNMCVJDYXy77AdLefrZSS5KBv79dN5QH9Eb'
access_token = '323487158-QcuYrKvm90fW4NlUAjV6PmYnvAg7pkVtqR8Lg4jC'
access_token_secret = 'ujVjeCLdV6cpPltOyuLrhnbnoJHQwZywvN6Gcrv0vltvJ'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

public_tweets = api.user_timeline(screen_name='NHM_London', tweet_mode='extended',count=200) #API limit is 200 per request. 
len(public_tweets)

200

In [3]:
tweets = pd.DataFrame()

In [4]:
tweets['time'] = [tweet.created_at for tweet in public_tweets]
#tweets['id'] =   [tweet.id for tweet in public_tweets]
tweets['tweet'] = [tweet.full_text for tweet in public_tweets]
tweets['hashtags'] = [tweet.entities['hashtags'] for tweet in public_tweets]
tweets['urls'] = [tweet.entities['urls'] for tweet in public_tweets]
tweets['user mentions'] = [tweet.entities['user_mentions'] for tweet in public_tweets]
tweets['repying to'] = [tweet.in_reply_to_screen_name for tweet in public_tweets]
tweets['retweets'] = [tweet.retweet_count for tweet in public_tweets]
tweets['favourites'] = [tweet.favorite_count for tweet in public_tweets]

In [5]:
tweets

,time,tweet,hashtags,urls,user mentions,repying to,retweets,favourites
0,2018-06-07 07:44:42,Watch a virtual Stegosaurus walk around as Sir...,"[{'text': 'HoldTheWorld', 'indices': [149, 162]}]","[{'url': 'https://t.co/udPYQFhJsy', 'expanded_...",[],None,53,120
1,2018-06-06 16:07:12,It's not just in film plots where dinosaurs ar...,[],"[{'url': 'https://t.co/VGOu7RrEqw', 'expanded_...",[],None,23,58
2,2018-06-06 14:01:52,Could mosquitos trapped in amber realistically...,[],"[{'url': 'https://t.co/wo0wmQFv2T', 'expanded_...","[{'screen_name': 'Tweetisaurus', 'name': 'Susi...",None,28,45
3,2018-06-06 10:59:19,RT @NHM_London: Did you know there are thought...,[],[],"[{'screen_name': 'NHM_London', 'name': 'Natura...",None,24,0
4,2018-06-06 10:59:12,Did you know there are thought to be more than...,[],"[{'url': 'https://t.co/V0w8uV4w39', 'expanded_...",[],NHM_London,24,36
5,2018-06-06 10:03:13,Films like #JurassicWorld have helped some din...,"[{'text': 'JurassicWorld', 'indices': [11, 25]}]","[{'url': 'https://t.co/gfJJQleucI', 'expanded_...","[{'screen_name': 'NHMdinolab', 'name': 'NHMdin...",None,47,91
6,2018-06-06 09:01:02,RT @NHM_London: We're also offering a money-ca...,[],[],"[{'screen_name': 'NHM_London', 'name': 'Natura...",None,41,0
7,2018-06-06 09:00:53,We're also offering a money-can't-buy prize to...,[],"[{'url': 'https://t.co/0wTWLxfVk3', 'expanded_...",[],NHM_London,41,80
8,2018-06-06 08:58:42,#JurassicWorld is released in UK cinemas today...,"[{'text': 'JurassicWorld', 'indices': [0, 14]}]","[{'url': 'https://t.co/4gSgQ8roKe', 'expanded_...",[],None,75,174
9,2018-06-05 15:23:41,This #WorldEnvironmentDay we're celebrating ou...,"[{'text': 'WorldEnvironmentDay', 'indices': [5...","[{'url': 'https://t.co/jX9sDQDuoR', 'expanded_...",[],None,30,73
10,2018-06-05 15:18:18,RT @BBCR1: Velociraptors? We've got them all w...,[],[],"[{'screen_name': 'BBCR1', 'name': 'BBC Radio 1...",None,65,0
11,2018-06-05 12:45:54,@Jmg64John Hi - You could try our ID forums (h...,[],"[{'url': 'https://t.co/iS3mojHHWU', 'expanded_...","[{'screen_name': 'Jmg64John', 'name': 'Johnoor...",Jmg64John,0,0
12,2018-06-05 12:45:07,@liverpoollou92 Hi - You could try our ID foru...,[],"[{'url': 'https://t.co/iS3mojHHWU', 'expanded_...","[{'screen_name': 'liverpoollou92', 'name': 'El...",liverpoollou92,0,0
13,2018-06-05 10:33:58,"#SciNews: First for the first time, scientists...","[{'text': 'SciNews', 'indices': [0, 8]}]","[{'url': 'https://t.co/UUM4NEmn5Z', 'expanded_...",[],None,40,95
14,2018-06-05 08:39:28,RT @NHM_WPY: For #WorldEnvironmentDay we're re...,"[{'text': 'WorldEnvironmentDay', 'indices': [1...",[],"[{'screen_name': 'NHM_WPY', 'name': 'Wildlife ...",None,189,0
15,2018-06-04 16:08:12,Are we really made of stardust? ✨ Planetary sc...,"[{'text': 'Space', 'indices': [106, 112]}, {'t...","[{'url': 'https://t.co/h5hIYdBYX4', 'expanded_...",[],None,28,67
16,2018-06-04 14:19:46,Ahead of #WorldEnvironmentDay we're sharing a ...,"[{'text': 'WorldEnvironmentDay', 'indices': [9...","[{'url': 'https://t.co/6hHnEgbWRD', 'expanded_...","[{'screen_name': 'NHM_WPY', 'name': 'Wildlife ...",None,49,122
17,2018-06-04 10:56:43,#MineralMonday Taking care of the Museum's min...,"[{'text': 'MineralMonday', 'indices': [0, 14]}]","[{'url': 'https://t.co/tLFfCveEBI', 'expanded_...",[],None,41,118
18,2018-06-03 17:19:03,"@Grantjones_ Hi Grant, try our ID forums (http...",[],"[{'url': 'https://t.co/iS3mojHHWU', 'expanded_...","[{'screen_name': 'Grantjones_', 'name': 'Grant...",Grantjones_,0,0
19,2018-06-03 17:18:47,"@yayamartin @bugmanjones Hi Jen, try our ID fo...",[],"[{'url': 'https://t.co/iS3mojHHWU', 'expanded_...","[{'screen_name': 'yayamartin', 'name': 'Jen', ...",yayamartin,0,1
20,2018-06-03 13:56:31,RT @NHM_WPY: Did you know the Jamaican iguana ...,"[{'text': 'WPYinsights', 'indices': [89, 101]}]",[],"[{'screen_name': 'NHM_WPY', 'name': 'Wildlife ...",None,19,0
21,2018-06-02 14:23:37,It’s #ButterflyAwarenessDay. Did you know that...,"[{'text': 'ButterflyAwarenessDay', 'indices': ...",[],[],None,75,134
22,2018-06-02 13:15:47,It's #ButterflyAwarenessDay 🦋. See if you can ...,"[{'text': 'ButterflyAwarenessDay', 'indices': ...","[{'url': 'https://t.co/F0Ogxb7HdU', 'expanded_...",[],None,60,138
23,2018-06-01 13:59:24,RT @NHMdinolab: Tyrannosaur dentary in the col...,[],[],"[{'screen_name': 'NHMdinolab', 'name': 'NHMdin...",None,55,0
24,2018-06-01 11:23:09,From capturing one of the world's most endange...,"[{'text': 'WPY53', 'indices': [164, 170]}]","[{'url': 'https://t.co/TOcK4Z8sfV', 'expanded_...","[{'screen_name': 'NHM_WPY', 'name': 'Wildlife ...",None,47,175
25,2018-06-01 09:43:50,RT @OrstedUK: Continuing our celebration of #W...,"[{'text': 'WPY53', 'indices': [44, 50]}]",[],"[{'screen_name': 'OrstedUK', 'name': 'Ørsted U...",None,4,0
26,2018-06-01 08:59:47,RT @NHM_WPY: The 2019 competition opens for en...,[],[],"[{'screen_name': 'NHM_WPY', 'name': 'Wildlife ...",None,35,0
27,2018-06-01 08:59:38,RT @BryozoanNhm: #FossilFriday The famous Le M...,"[{'text': 'FossilFriday', 'indices': [17, 30]}]",[],"[{'screen_name': 'BryozoanNhm', 'name': 'NHM_B...",None,29,0
28,2018-05-31 14:00:45,"Dippy’s #Naturenauts is supported by @DellEMC,...","[{'text': 'Naturenauts', 'indices': [8, 20]}]",[],"[{'screen_name': 'DellEMC', 'name': 'Dell EMC'...",NHM_London,0,3
29,2018-05-31 14:00:20,Have you joined #Naturenauts? Our brand-new ap...,"[{'text': 'Naturenauts', 'indices': [16, 28]},...","[{'url': 'https://t.co/FTy8uPEkXT', 'expanded_...",[],None,19,28
...,...,...,...,...,...,...,...,...
170,2018-05-13 13:53:45,This orange butterfly can be found in the Amer...,"[{'text': 'SensationalButterflies', 'indices':...","[{'url': 'https://t.co/0fZNHedhc6', 'expanded_...",[],None,16,84
171,2018-05-13 10:56:41,Human evolution expert Prof @ChrisStringer65 w...,[],"[{'url': 'https://t.co/mPJCXiKEYu', 'expanded_...","[{'screen_name': 'ChrisStringer65', 'name': 'C...",NHM_London,13,48
172,2018-05-13 10:56:15,The Museum's @ChrisStringer65 has studied Nean...,[],"[{'url': 'https://t.co/PRQt86brOz', 'expanded_...","[{'screen_name': 'ChrisStringer65', 'name': 'C...",None,99,233
173,2018-05-12 13:51:45,What's the coolest dinosaur? Swot up on your d...,"[{'text': 'NHM_Live', 'indices': [74, 83]}]","[{'url': 'https://t.co/uFQTioRh4O', 'expanded_...",[],None,28,102
174,2018-05-12 13:36:31,@KenWill93191945 Hi Ken - To help you identify...,[],"[{'url': 'https://t.co/Of82R2ZGRH', 'expanded_...","[{'screen_name': 'KenWill93191945', 'name': 'K...",KenWill93191945,0,0
175,2018-05-12 11:26:41,RT @anariesgogil: Nature Live @NHM_London abou...,[],[],"[{'screen_name': 'anariesgogil', 'name': 'Ana ...",None,6,0
176,2018-05-12 11:21:57,RT @NHM_Digitise: Happy Birthday Dippy! While ...,[],[],"[{'screen_name': 'NHM_Digitise', 'name': 'Digi...",None,4,0
177,2018-05-12 10:45:59,RT @NHM_Visiting: We currently have a 15 minut...,[],[],"[{'screen_name': 'NHM_Visiting', 'name': 'NHM ...",None,1,0
178,2018-05-12 10:45:15,Come along to our Family Festival this May hal...,[],"[{'url': 'https://t.co/y1UzQlgtvB', 'expanded_...","[{'screen_name': 'Operation_Earth', 'name': 'O...",None,9,23
179,2018-05-12 09:03:54,RT @NHM_Visiting: A marine worm moves in with ...,[],[],"[{'screen_name': 'NHM_Visiting', 'name': 'NHM ...",None,6,0
180,2018-05-12 08:56:47,RT @nickcasewell: Here is a really nice short ...,[],[],"[{'screen_name': 'nickcasewell', 'name': 'Dr N...",None,10,0
181,2018-05-12 08:56:07,RT @NHM_London: #DippyOnTour is in partnership...,"[{'text': 'DippyOnTour', 'indices': [16, 28]}]",[],"[{'screen_name': 'NHM_London', 'name': 'Natura...",None,1,0
182,2018-05-12 08:56:00,RT @NHM_London: Dippy is getting ready for the...,"[{'text': 'DippyOnTour', 'indices': [124, 136]}]",[],"[{'screen_name': 'NHM_London', 'name': 'Natura...",None,7,0
183,2018-05-12 08:55:08,#DippyOnTour is in partnership with @GarfieldW...,"[{'text': 'DippyOnTour', 'indices': [0, 12]}]",[],"[{'screen_name': 'GarfieldWFdn', 'name': 'Garf...",NHM_London,1,6
184,2018-05-12 08:54:44,Dippy is getting ready for the next stop of hi...,"[{'text': 'DippyOnTour', 'indices': [108, 120]}]","[{'url': 'https://t.co/lPE7qQq7Dw', 'expanded_...","[{'screen_name': 'BM_AG', 'name': 'Birmingham ...",NHM_London,7,13
185,2018-05-12 08:54:07,Dippy was revealed to the public #OTD in 1905 ...,"[{'text': 'OTD', 'indices': [33, 37]}]","[{'url': 'https://t.co/rk6niJ0MlM', 'expanded_...",[],None,90,203
186,2018-05-11 15:52:42,Have you ever seen a cobra spit #Venom in supe...,"[{'text': 'Venom', 'indices': [32, 38]}]","[{'url': 'https://t.co/zvSrFuRLvX', 'expanded_...","[{'screen_name': 'LSTMnews', 'name': 'LSTM', '...",None,27,38
187,2018-05-11 14:37:38,RT @Filming_at_NHM: Tune in this Sunday to cat...,[],[],"[{'screen_name': 'Filming_at_NHM', 'name': 'Fi...",None,12,0
188,2018-05-11 12:55:50,RT @NHMdinolab: Returning freshly conserved fr...,[],[],"[{'screen_name': 'NHMdinolab', 'name': 'NHMdin...",None,40,0
189,2018-05-11 11:03:50,"Chytridiomycosis regularly kills frogs, toads,...",[],"[{'url': 'https://t.co/1CyeG8IknD', 'expanded_...",[],None,50,107
190,2018-05-11 10:32:35,Great profile of Justin Schmidt in the Guardia...,[],"[{'url': 'https://t.co/8JdCXmSFr6', 'expanded_...",[],None,14,43
191,2018-05-11 08:57:59,This weekend is your last chance to come face-...,"[{'text': 'Venom', 'indices': [103, 109]}]","[{'url': 'https://t.co/fdgYCipzHQ', 'expanded_...",[],None,11,51
192,2018-05-11 07:53:55,Life after Gollum: motion capture master Andy ...,[],"[{'url': 'https://t.co/PZpdaZ0iw7', 'expanded_...",[],None,61,129
193,2018-05-10 11:09:37,Meet the ancient people who rocked the surfer ...,"[{'text': 'Neanderthals', 'indices': [154, 167...","[{'url': 'https://t.co/iF7Z4qbuau', 'expanded_...",[],None,38,86
194,2018-05-10 09:01:49,Rise and shine with our yoga sessions. Taking ...,[],"[{'url': 'https://t.co/am5Fscx6g7', 'expanded_...",[],None,43,197
195,2018-05-09 14:34:40,"Huge congratulations to Dr Greg Edgecombe, who...","[{'text': 'RSFellows', 'indices': [215, 225]}]",[],"[{'screen_name': 'royalsociety', 'name': 'The ...",None,30,146
196,2018-05-09 13:59:15,Our live butterfly house gives you the chance ...,"[{'text': 'SensationalButterflies', 'indices':...","[{'url': 'https://t.co/h5dpDQUt4M', 'expanded_...",[],None,13,46
197,2018-05-09 12:52:39,RT @flygirlNHM: It's #hedgehogweek - did you k...,"[{'text': 'hedgehogweek', 'indices': [21, 34]}]",[],"[{'screen_name': 'flygirlNHM', 'name': 'Erica ...",None,30,0
198,2018-05-09 12:01:28,RT @Shop_at_NHM: Step into the sun wearing a t...,[],"[{'url': 'https://t.co/12a9nTlCQ5', 'expanded_...","[{'screen_name': 'Shop_at_NHM', 'name': 'Shop ...",None,3,0
199,2018-05-09 11:23:44,Monarch butterflies migrate thousands of miles...,[],"[{'url': 'https://t.co/IDFQIPCAFj', 'expanded_...",[],None,29,90

In [6]:
# The article URLs provided for this project.
article_urls = ['http://www.nhm.ac.uk/discover/the-cannibals-of-goughs-cave.html','http://www.nhm.ac.uk/discover/how-we-became-human.html','http://www.nhm.ac.uk/discover/the-origin-of-our-species.html']

# Note that this script will work with other articles that share the same HTML layout. Just add URLs to this list.

I'll begin by making HTTP GET requests on the article URLs and creating Beautiful Soup objects from the HTML documents for ease of navigation.

In [7]:
# This creates a list of BeautifulSoup objects.
soups = [soup(requests.get(url).text, 'html.parser') for url in article_urls]

List comprehensions will be used regularly throughout this project as a means of applying our data munging process to all of the articles simultaneously.

Beautiful Soup's .find() function isolates the required div elements.

In [8]:
# Articles are contained in a <div class="article--container"> element.
article_divs = [item.find('div',{'class':'article--container'}) for item in soups]

Let's make a list of the article titles by navigating to the &lt;h1&gt; element.

In [9]:
article_titles = [item.find('h1').get_text() for item in article_divs]

In [10]:
article_titles

["The cannibals of Gough's Cave",
 'How we became human',
 'The origin of our species']

## Text Analysis

First I'll create objects that contain the content of each article, then strip the content of its punctuation, capitalisation and stopwords. I'll also apply a process called 'stemming' to the article, which I will explain in detail later.

Let's first do some preparatory work.

In [11]:
# A handy function for flattening a list of lists into a single list.
flatten = lambda l: [item for sublist in l for item in sublist]

In [12]:
# This gives a list BS ResultSets for all articles.
content = [item.find_all(['p','h2']) for item in article_divs]
#h2_content = [item.find_all('h2') for item in article_divs]

In [13]:
def content_str(ResultSet):
    '''Takes a Beautiful Soup ResultSet and returns all of its text as a string.'''
    string_list = [item.get_text() for item in ResultSet]
    string_list = [string+' ' for string in string_list]
    string = ''.join(flatten(string_list))
    return string

The goal is to create a data frame containing every word from every article and the title of the article it came from, so that pandas' groupby function can be leveraged to give a structured data frame where the most used words get sorted to the top.

With this in mind, it will be useful to have the content organised in tuples. I've opted for tuples of the form (article title, article content). This way I can keep hold of the article title, which will be useful later on.

In [14]:
# Creates a (title, article) tuple for each article and stores them in a list.
article_strings = list(zip(article_titles,[content_str(item) for item in content]))

### Punctuation and capitalisation removal

 Punctuation and capitalisation are removed so that 'Hello!' and 'hello' would be classed as the same word.

In [15]:
import string

# This is the string '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
punctuation = string.punctuation

sample_paragraph = 'Sample paragraph! Notice, it has (no) punctuation.'

# List the non-punctuation characters and make everything lowercase.
no_punc = [char for char in sample_paragraph.lower() if char not in punctuation]

# Join the characters again to reform the string.
no_punc = ''.join(no_punc)
no_punc

'sample paragraph notice it has no punctuation'

### Removing stopwords

This process will remove common words that typically only convey syntactic (grammatical) meaning. In theory, this leaves us with only those words that convey semantic meaning. These are our candidates for keywords, since they pertain to the subject of the articles.

In [16]:
# A dictionary of stopwords.
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Crispy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
from nltk.corpus import stopwords

# Let's test this on our sample_paragraph from above.
clean_para = [word for word in no_punc.split() if word not in stopwords.words('english')]
clean_para

['sample', 'paragraph', 'notice', 'punctuation']

Notice the words 'it', 'has' and 'no' have been removed.

In [18]:
# This will apply the removal of punctuation and stopwords to a string.
def text_stripper(string):
    '''Takes a string and removes punctuation, capitalisation and stopwords.'''
    no_punc = [char for char in string.lower() if char not in punctuation]
    no_punc = ''.join(no_punc)
    return [word for word in no_punc.split() if word not in stopwords.words('english')]

Now we're ready to turn the tuples containing our content into pandas DataFrames. The next function creates a list of such DataFrames, with each entry containing a paragraph's word, its parent article and its html p tag.

In [19]:
def df_creator(content_tuple):
    '''Create a pd.DataFrame for non-stopwords present in the corpus.'''
    df_list = [pd.DataFrame(data={'Word': text_stripper(item[1]), 'Article':item[0], 'Dummy': ''}, columns=['Word','Article','Dummy']) for item in content_tuple]
    df = pd.concat(df_list).reset_index().drop('index', axis=1)
    return df

In [20]:
corpus = df_creator(article_strings)

### Stemming Words

This combines words from the same linguistic stem, so that plurals, suffixations or conjugations of the same word get counted together. Thus 'human' and 'humans' will be counted as the same keyword and so will 'cannibal', 'cannibals' and 'cannibalism'.

Our stemmed results will occasionally be incorrect (for example, 'cannibal' gets stemmed to 'cannib' because -al is a common suffix). But since we're retaining the information about where our stemmed words come from, this won't be a problem. Over-stemming like this still groups words together correctly and we can simply choose our keyword to be the most common version of the stem in the article.

In [21]:
# The Snowball Stemmer seems to strip suffixes a bit more aggressively than some other stemmers, but it also deals with more suffixes than most, so I've chosen to use this stemmer.
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer('english')

In [22]:
print(stemmer.stem('human'))
print(stemmer.stem('humans'))
print(stemmer.stem('cannibal'))
print(stemmer.stem('cannibals'))
print(stemmer.stem('cannibalism'))

human
human
cannib
cannib
cannib

Let's now stem our words.

In [23]:
# A simple function for us to use in pandas' .apply() method.
def stem_func(word):
    '''Stems a word'''
    return stemmer.stem(word)

In [24]:
corpus['Stem'] = corpus['Word'].apply(stem_func)

In [25]:
corpus[corpus['Stem'] == 'cannibal']

Empty DataFrame
Columns: [Word, Article, Dummy, Stem]
Index: []

### Finding Keywords

The following few cells use pandas' .groupby() method to take our corpus of words and group them by, respectively, 'Article', 'Stem' and 'Word', giving an aggregated count of the number of occurences of each stem in each article. The 20 most frequent stems will be the basis of our keywords for each article.

In [26]:
# The main groupby function.
keywords = corpus.groupby(['Article','Stem','Word']).count()

# Sorting values by descending frequency and cutting away all but the top 20.
keywords = keywords.reset_index().sort_values(['Article','Dummy'], ascending=False).groupby('Article').head(20)
keywords.rename(columns={'Dummy':'Count'}, inplace=True)
keywords

                            Article              Stem              Word  Count
1079      The origin of our species             human             human     20
875       The origin of our species           ancient           ancient     17
1319      The origin of our species              year             years     17
1078      The origin of our species              homo              homo     16
1201      The origin of our species             relat         relatives     14
868       The origin of our species               ago               ago     12
882       The origin of our species            around            around     12
1048      The origin of our species           galleri           gallery     12
1306      The origin of our species           visitor          visitors     11
867       The origin of our species            africa            africa     10
1080      The origin of our species             human            humans     10
1251      The origin of our species             speci           species      9
1043      The origin of our species            fossil            fossil      7
1123      The origin of our species              live             lived      7
1141      The origin of our species            modern            modern      7
1244      The origin of our species             skull             skull      7
1045      The origin of our species             found             found      6
1146      The origin of our species         neanderth       neanderthal      6
1224      The origin of our species         scientist        scientists      6
1300      The origin of our species                us                us      6
497   The cannibals of Gough's Cave              cave              cave     19
618   The cannibals of Gough's Cave             human             human     18
602   The cannibals of Gough's Cave             gough            goughs     14
472   The cannibals of Gough's Cave              bone              bone     11
766   The cannibals of Gough's Cave            silvia            silvia     10
489   The cannibals of Gough's Cave            cannib       cannibalism      8
473   The cannibals of Gough's Cave              bone             bones      7
837   The cannibals of Gough's Cave              year             years      7
570   The cannibals of Gough's Cave              evid          evidence      6
664   The cannibals of Gough's Cave              mark             marks      6
667   The cannibals of Gough's Cave               may               may      6
679   The cannibals of Gough's Cave            museum            museum      6
704   The cannibals of Gough's Cave             peopl            people      6
775   The cannibals of Gough's Cave             skull            skulls      6
439   The cannibals of Gough's Cave               ago               ago      5
657   The cannibals of Gough's Cave       magdalenian      magdalenians      5
747   The cannibals of Gough's Cave               say              says      5
443   The cannibals of Gough's Cave           analysi          analysis      4
566   The cannibals of Gough's Cave            engrav          engraved      4
567   The cannibals of Gough's Cave            engrav         engraving      4
188             How we became human             human             human     13
186             How we became human              homo              homo      9
401             How we became human                us                us      8
419             How we became human              year             years      8
341             How we became human              size              size      7
18              How we became human               ago               ago      6
59              How we became human             brain            brains      6
189             How we became human             human            humans      6
247             How we became human           million           million      6
177             How we became human              grip              grip      5
214             How we became human            larger            larger      5
238             How we became human              male             males      5
251             How we became human              much              much      5
377             How we became human              time              time      5
384             How we became human              tool             tools      5
37              How we became human            around            around      4
41              How we became human  australopithecus  australopithecus      4
58              How we became human             brain             brain      4
74              How we became human             chang           changes      4
77              How we became human         childhood         childhood      4

We might wish to view a data frame of keywords for each article, one at a time, so here I've written a function to split our 'groupby' dataframe back into individual article DataFrames.

In [27]:
def generate_article_keywords(article_title):    
    keyword_table = keywords[keywords['Article'] == article_title]
    return keyword_table

In [28]:
# Creates a subscriptable list of keyword dataframes.
article_keywords = [generate_article_keywords(item) for item in article_titles]

So if you wish to see keywords for a particular article, you can either call generate_article_keywords('Article Title') or subscript article_keywords[i] to the i<sup>th</sup> article.

In [29]:
article_keywords[1]

                 Article              Stem              Word  Count
188  How we became human             human             human     13
186  How we became human              homo              homo      9
401  How we became human                us                us      8
419  How we became human              year             years      8
341  How we became human              size              size      7
18   How we became human               ago               ago      6
59   How we became human             brain            brains      6
189  How we became human             human            humans      6
247  How we became human           million           million      6
177  How we became human              grip              grip      5
214  How we became human            larger            larger      5
238  How we became human              male             males      5
251  How we became human              much              much      5
377  How we became human              time              time      5
384  How we became human              tool             tools      5
37   How we became human            around            around      4
41   How we became human  australopithecus  australopithecus      4
58   How we became human             brain             brain      4
74   How we became human             chang           changes      4
77   How we became human         childhood         childhood      4

In [30]:
generate_article_keywords('How we became human')

                 Article              Stem              Word  Count
188  How we became human             human             human     13
186  How we became human              homo              homo      9
401  How we became human                us                us      8
419  How we became human              year             years      8
341  How we became human              size              size      7
18   How we became human               ago               ago      6
59   How we became human             brain            brains      6
189  How we became human             human            humans      6
247  How we became human           million           million      6
177  How we became human              grip              grip      5
214  How we became human            larger            larger      5
238  How we became human              male             males      5
251  How we became human              much              much      5
377  How we became human              time              time      5
384  How we became human              tool             tools      5
37   How we became human            around            around      4
41   How we became human  australopithecus  australopithecus      4
58   How we became human             brain             brain      4
74   How we became human             chang           changes      4
77   How we became human         childhood         childhood      4